In [1]:
#Q1 -----------------------------------------------------
L = [10, 20, 30, 40, 50, 60, 70, 80]

# i. Add 200 and 300 to L
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [2]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
#  Remove 10 and 30
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

After removing 10 and 30: [20, 40, 50, 60, 70, 80]

In [3]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
#  Sort L in ascending order
L.sort()
print("List in ascending order:", L)

List in ascending order: [10, 20, 30, 40, 50, 60, 70, 80]

In [4]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
#  Sort L in descending order
L.sort(reverse=True)
print("List in descending order:", L)

List in descending order: [80, 70, 60, 50, 40, 30, 20, 10]

In [5]:
# 02 ---------------------------------------
# Define the tuple
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

# i. Identify the highest score and its index in the tuple
highest_score = max(scores)
highest_index = scores.index(highest_score)
print ("highest score",highest_score)
print  ("higest_index",highest_index)

highest score 92
higest_index 5

In [9]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
# ii. Find the lowest score and count how many times it appears
lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print ("lowest score",lowest_score)
print  ("lowest_index",lowest_count)

lowest score 45
lowest_index 2

In [8]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
# iii. Reverse the tuple and return it as a list
reversed_list = list(scores[::-1])
print("Reversed tuple as a list:", reversed_list)

Reversed tuple as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [7]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
# iv. Check if a specific score (76) is present in the tuple
specific_score = 76  # Input score
if specific_score in scores:
    first_index = scores.index(specific_score)
    print(f"The score {specific_score} is present at index {first_index}.")
else:
    print(f"The score {specific_score} is not present in the tuple.")

The score 76 is present at index 2.

In [10]:
# Q3 WAP to create a list of 100 random numbers between 100 and 900. Count and print
# the:

# All odd numbers
# All even numbers
# All prime numbers

import random
listX = [random.randint(100,900) for _ in range(100)]
print("List :",listX)
evenN = [x for x in listX if x%2==0]
print("Even Num:", evenN)
oddN = [x for x in listX if not x%2==0]
print("Odd Num:",oddN)
primeN = [x for x in listX if all(i%x!=0 for i in range(2,int(x**0.5)+1))]
print("Prime Num:",primeN)

List : [818, 808, 676, 413, 603, 166, 855, 594, 850, 464, 487, 141, 691, 696, 384, 341, 167, 161, 746, 316, 577, 576, 475, 699, 311, 113, 247, 862, 324, 240, 845, 838, 507, 887, 292, 144, 350, 129, 761, 409, 811, 793, 509, 382, 104, 818, 802, 799, 775, 798, 282, 825, 705, 242, 411, 466, 217, 800, 886, 890, 314, 125, 529, 440, 883, 124, 403, 821, 120, 201, 740, 421, 743, 654, 590, 681, 417, 539, 247, 358, 576, 772, 240, 168, 323, 469, 121, 894, 605, 223, 177, 101, 515, 134, 561, 209, 306, 704, 559, 868]
Even Num: [818, 808, 676, 166, 594, 850, 464, 696, 384, 746, 316, 576, 862, 324, 240, 838, 292, 144, 350, 382, 104, 818, 802, 798, 282, 242, 466, 800, 886, 890, 314, 440, 124, 120, 740, 654, 590, 358, 576, 772, 240, 168, 894, 134, 306, 704, 868]
Odd Num: [413, 603, 855, 487, 141, 691, 341, 167, 161, 577, 475, 699, 311, 113, 247, 845, 507, 887, 129, 761, 409, 811, 793, 509, 799, 775, 825, 705, 411, 217, 125, 529, 883, 403, 821, 201, 421, 743, 681, 417, 539, 247, 323, 469, 121, 605, 223, 177, 101, 515, 561, 209, 559]
Prime Num: [818, 808, 676, 413, 603, 166, 855, 594, 850, 464, 487, 141, 691, 696, 384, 341, 167, 161, 746, 316, 577, 576, 475, 699, 311, 113, 247, 862, 324, 240, 845, 838, 507, 887, 292, 144, 350, 129, 761, 409, 811, 793, 509, 382, 104, 818, 802, 799, 775, 798, 282, 825, 705, 242, 411, 466, 217, 800, 886, 890, 314, 125, 529, 440, 883, 124, 403, 821, 120, 201, 740, 421, 743, 654, 590, 681, 417, 539, 247, 358, 576, 772, 240, 168, 323, 469, 121, 894, 605, 223, 177, 101, 515, 134, 561, 209, 306, 704, 559, 868]

In [13]:
# Q4  Consider the following two sets, A and B, represen ng scores of two teams in mul ple
# matches.  A = {34, 56, 78, 90}  and B = {78, 45, 90, 23}
# WAP to perform the following opera ons using set functio ons:
# i. Find the unique scores achieved by both teams (union of sets).
# ii Iden fy the scores that are common to both teams (intersec on of sets).
# iii Find the scores that are exclusive to each team (symmetric difference).
# iv Check if the scores of team A are a subset of team B, and if team B's scores are
# a superset of team A.
# v Remove a specific score ùëã (input by the user) from set A if it exists. If not, print
# a message saying it is not present.
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A|B)
print(A&B)
print(A.symmetric_difference(B))

print(f"The scores of team A are a subset of team B: {A.issubset(B)}")
print(f"team B's scores are a superset of team A: {B.issuperset(A)}")

user_in = int(input("Enter a score: "))
# Try to remove the score from A
if user_in in A:
    A.remove(user_in)
    print(f"Score {user_in} removed.")
else:
    print(f"Score {user_in} not present in team A.")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
The scores of team A are a subset of team B: False
team B's scores are a superset of team A: False
Enter a score: 90
Score 90 removed.

In [12]:
 # Q5-----------------------
dict1 = {
    'name':"Kashish Rana",
    'age' :20,
    'salary' :100000000,
    'city': 'Sarkagahat'
}
print(dict1)
dict1['location'] = dict1.pop('city')
print(dict1)

{'name': 'Kashish Rana', 'age': 20, 'salary': 100000000, 'city': 'Sarkagahat'}
{'name': 'Kashish Rana', 'age': 20, 'salary': 100000000, 'location': 'Sarkagahat'}